body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page__content {
  margin: 200px auto;
  box-sizing: border-box;
  padding: 0;
}

.places {
  width: 100%;
  display: flex;
  margin: 60px auto;
  box-sizing: border-box;
  padding: 0;
}

.places__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(148px, 50vmax));
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}



.place {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.place__image {
  order: 1;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
}

.place__item {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.place__caption {
  order: 2;
  max-width: 50%;
  display: flex;
  flex-flow: column;
  margin: 0;
  justify-self: center;
  justify-content: space-between;
  align-content: space-between;
  padding: 60px;
  box-sizing: border-box;
}

.place__item-second {
  flex-flow: row-reverse;
}

.place__title {
  width: 90%;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.place__paragraphs {
  max-width: 70%;
  display: flex;
  flex-flow: column;
}

.place__description {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.place__description:last-of-type {
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  .places__list {
    grid-template-rows: repeat(3, minmax(148px, 50vmin));
  }
}

@media screen and (max-width: 700px) {
  .place {
    height: max-content;
  }

  .places__list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .place__item {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .place__image {
    width: 100%;
    height: 100vmin;
  }

  .place__caption {
    max-width: 100%;
  }
}


