.header__menu {
    display: flex;
    width: 30%;
}

@media screen and (max-width: 1024px) {
  .header__menu {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .header__menu {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .header__menu {
    width: 60%;
  }
}

@media screen and (max-width: 475px) {
  .header__menu:last-of-type {
    align-self: flex-start;
  }
}
