.header__link {
  display: block;
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 163%;
  box-sizing: border-box;
}

.header__link:hover {
  opacity: .5;
  box-shadow: 2px 2px #fecda7;
  transition: opacity .5s ease;
}

@media screen and (max-width: 600px) {
  .header__link {
    font-size: 16px;
    line-height: 20px;
  }
}
