.place {
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  margin: 0;
  grid-template-areas: "image capt";
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
      "image" 
      "capt";
  }
}