.place__caption {
  grid-area: capt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: 60px auto 40px 60px;
}

@media screen and (max-width: 1000px) {
  .place__caption {
    width: 80%;
    margin: 35px auto 35px 35px;
  }
}

@media screen and (max-width: 735px) {
  .place__caption {
    width: 85%;
    margin: 20px auto 20px 20px;
  }
}

@media screen and (max-width: 650px) {
  .place__caption {
    width: 80%;
    margin: 60px auto 40px 60px;
  }
}

@media screen and (max-width: 560px) {
  .place__caption {
    width: 80%;
    margin: 45px auto 40px 45px;
  }
}

@media screen and (max-width: 470px) {
  .place__caption {
    width: 85%;
    margin: 35px auto 35px 35px;
  }
}

@media screen and (max-width: 385px) {
  .place__caption {
    margin: 20px auto 20px 25px;
  }
}